html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/

img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.navigation_body,
.reviews_block,
.footer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: "CirceR";
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CirceB";
  font-display: swap;
  src: url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PlayR";
  font-display: swap;
  src: url("../fonts/Playfairdisplayregular.woff") format("woff"), url("../fonts/Playfairdisplayregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HamiltoneR";
  font-display: swap;
  src: url("../fonts/Hamiltone.woff") format("woff"), url("../fonts/Hamiltone.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "CirceR";
  height: 100%;
  background-color: #1b1918;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: calc( 36px + 36 * ((100vw - 320px) / 2240));
  color: #ffffff;
  font-family: "PlayR";
  text-transform: uppercase;
}

h1:first-child {
  font-family: "HamiltoneR";
  color: #cda363;
  text-transform: initial;
  margin-bottom: calc( -30px + -30 * ((100vw - 320px) / 2240));
  margin-left: calc( 8px + 43 * ((100vw - 320px) / 2240));
  position: relative;
}

h2 {
  font-size: calc( 26px + 10 * ((100vw - 320px) / 2240));
  color: #ffffff;
  font-family: "PlayR";
  text-transform: uppercase;
}

h2:first-child {
  font-family: "HamiltoneR";
  color: #cda363;
  text-transform: initial;
  margin-bottom: calc( -20px + -10 * ((100vw - 320px) / 2240));
  margin-left: calc( -5px + -15 * ((100vw - 320px) / 2240));
  position: relative;
}

p {
  font-size: calc( 16px + 2 * ((100vw - 320px) / 2240));
  color: #ffffff;
}

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url(../img/main_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation_body {
  padding-top: 13px;
}

.header_list a {
  font-family: "CirceB";
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-right: 50px;
  text-transform: uppercase;
}

.header_list a:last-child {
  margin: 0;
}

.header_link a {
  margin-right: 15px;
}

.header_link a:last-child {
  margin: 0;
}

.header_mouse {
  position: absolute;
  bottom: 0;
  padding-bottom: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_main {
  margin-top: 111px;
}

.header_main p {
  margin-top: calc( 10px + 10 * ((100vw - 320px) / 2240));
}

.section {
  padding-top: calc( 40px + 30 * ((100vw - 320px) / 2240));
}

.section_title {
  margin-bottom: calc( 30px + 20 * ((100vw - 320px) / 2240));
}

.service_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service_img_block:last-child {
  margin-top: 60px;
}

.img_items {
  margin-bottom: 30px;
  position: relative;
}

.img_items:last-child {
  margin: 0;
}

.img_items:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.img_items img {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: grayscale(99%);
          filter: grayscale(99%);
}

.img_items a {
  position: relative;
}

.img_items a .items_title {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.img_items a .items_title h3 {
  font-size: 24px;
  color: #ffffff;
}

.img_items a .items_title h3:first-child {
  font-family: "HamiltoneR";
  font-size: 30px;
  color: #cda363;
  margin-left: -20px;
  margin-bottom: -27px;
}

.img_items_first::before {
  content: url(../img/arrow_link.png);
  position: absolute;
  bottom: 67px;
  right: 33px;
  z-index: 2;
  cursor: pointer;
}

.section_img img {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: grayscale(99%);
          filter: grayscale(99%);
}

.section_img img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.section_img a {
  position: relative;
}

.section_img a h3 {
  font-size: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.questions_acordion_block {
  margin-top: 64px;
}

.acordion_item_trigger {
  cursor: pointer;
  font-size: 24px;
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 967px;
  color: white;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.acordion_item_trigger span {
  color: #CDA363;
  margin-right: 50px;
}

.acordion_item_trigger::after {
  content: url(../img/arrow_bottom.png);
  position: absolute;
  top: -40px;
  right: -150px;
}

.acordion_item_trigger_active::after {
  content: url(../img/arrow_top.png);
}

.acordion_item_content {
  color: white;
  max-width: 894px;
  margin-top: 41px;
  margin-left: 60px;
  font-size: 18px;
  display: none;
}

.reviews_block {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews_item {
  width: 350px;
  height: 491px;
  background: #cacaca;
}

.footer {
  padding-top: 145px;
  padding-bottom: 67px;
}

.footer_flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_block a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.footer_block a:first-child {
  margin-bottom: 10px;
}

.footer_social {
  margin-top: 30px;
}

.footer_social a:first-child {
  margin-right: 23px;
}

.header_burger {
  display: none;
}

.header_privat {
  height: 40vh;
  background-image: url(../img/privat_bg.png);
}

.header_main_privat {
  margin-top: 50px;
}

.header_main_privat h1:first-child {
  margin-bottom: calc( -30px + -20 * ((100vw - 320px) / 2240));
  margin-left: calc( -10px + -61 * ((100vw - 320px) / 2240));
}

.header_main_privat h1:last-child {
  font-size: calc( 26px + 10 * ((100vw - 320px) / 2240));
}

.section_title_about h2:first-child {
  font-size: calc( 38px + 10 * ((100vw - 320px) / 2240));
  margin-left: calc( -5px + -35 * ((100vw - 320px) / 2240));
}

.about_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about_items_img img {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: grayscale(99%);
          filter: grayscale(99%);
}

.about_items:last-child {
  max-width: 540px;
}

.about_items_text {
  margin-bottom: 45px;
}

.about_items_text:last-child {
  margin: 0;
}

.about_items_text p {
  line-height: 36px;
}

hr {
  margin-top: 50px;
  height: 1px;
  border: 0;
  background-color: #CDA363;
  margin-bottom: 0;
}

hr:last-child {
  margin: 0;
  width: 803px;
  margin: 0 auto;
}

.price_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
  padding-bottom: 50px;
}

.price_item:first-child {
  margin-right: 108px;
}

.price_item:first-child p {
  font-size: 30px;
}

.price_item:last-child p {
  font-size: 36px;
  color: #CDA363;
  font-family: "PlayR";
  text-transform: uppercase;
}

.section_form {
  padding-top: calc( 100px + 40 * ((100vw - 320px) / 2240));
}

.form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form_items img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_items:first-child {
  width: 100%;
  max-width: 445px;
}

.form_items p {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 50px;
}

form input {
  margin-bottom: 34px;
  font-family: "CirceR";
  padding-right: 15px;
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 14px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cacaca;
  background-color: transparent;
}

form input::-webkit-input-placeholder {
  color: white;
}

form input::-moz-placeholder {
  color: white;
}

form input:-ms-input-placeholder {
  color: white;
}

form input::-ms-input-placeholder {
  color: white;
}

form input::placeholder {
  color: white;
}

form button {
  margin-top: 67px;
  font-family: "CirceR";
  font-size: 24px;
  color: #ffffff;
  width: 100%;
  padding: 18px 0;
  background-color: #CDA363;
  border: none;
}

.form_mail {
  margin: 0;
}

.webp .header { background-image: url(../img/main_bg.webp); }

.webp .header_privat { background-image: url(../img/privat_bg.webp); }