html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/

img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.navigation_body,
.navigation_menu,
.reviews_block,
.footer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: "CirceR";
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CirceB";
  font-display: swap;
  src: url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PlayR";
  font-display: swap;
  src: url("../fonts/Playfairdisplayregular.woff") format("woff"), url("../fonts/Playfairdisplayregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HamiltoneR";
  font-display: swap;
  src: url("../fonts/Hamiltone.woff") format("woff"), url("../fonts/Hamiltone.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "CirceR";
  height: 100%;
  background-color: #1b1918;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: calc( 40px + 32 * ((100vw - 320px) / 2240));
  color: #ffffff;
  font-family: "PlayR";
  text-transform: uppercase;
}

h1:first-child {
  font-family: "HamiltoneR";
  font-size: calc( 36px + 36 * ((100vw - 320px) / 2240));
  color: #cda363;
  text-transform: initial;
  margin-bottom: calc( -10px + -50 * ((100vw - 320px) / 2240));
  margin-left: calc( 0px + 51 * ((100vw - 320px) / 2240));
  position: relative;
}

h2 {
  font-size: calc( 26px + 10 * ((100vw - 320px) / 2240));
  color: #ffffff;
  font-family: "PlayR";
  text-transform: uppercase;
}

h2:first-child {
  font-family: "HamiltoneR";
  color: #cda363;
  text-transform: initial;
  margin-bottom: calc( -20px + -10 * ((100vw - 320px) / 2240));
  margin-left: calc( -5px + -15 * ((100vw - 320px) / 2240));
  position: relative;
}

p {
  font-size: calc( 16px + 2 * ((100vw - 320px) / 2240));
  color: #ffffff;
}

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url(../img/main_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation_body {
  padding-top: 13px;
}

.navigation_menu {
  width: 100%;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_list li {
  margin-right: 50px;
}

.header_list li a {
  font-family: "CirceB";
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.header_list li a:last-child {
  margin: 0;
}

.header_list li img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header_list_services {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  z-index: 2;
}

.header_list_services li {
  margin-right: 0;
  margin-top: 5px;
}

.header_list_services li a {
  color: #CDA363;
}

.header_link_two:hover img,
.header_link_two:focus img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header_link_two:hover .header_list_services {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.header_link_two:focus .header_list_services {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.header_link a {
  margin-right: 15px;
  position: relative;
}

.header_link a:first-child::before {
  content: url(../img/link1.svg);
}

.header_link a:first-child:hover::before {
  content: url(../img/link1_hover.svg);
}

.header_link a:last-child {
  margin: 0;
}

.header_link a:last-child::before {
  content: url(../img/link2.svg);
}

.header_link a:last-child:hover::before {
  content: url(../img/link2_hover.svg);
}

.header_mouse {
  position: absolute;
  bottom: 0;
  padding-bottom: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_main {
  padding-top: 180px;
}

.header_main p {
  margin-top: calc( 10px + 10 * ((100vw - 320px) / 2240));
}

.section {
  padding-top: calc( 40px + 30 * ((100vw - 320px) / 2240));
}

.section_title {
  margin-bottom: calc( 30px + 20 * ((100vw - 320px) / 2240));
}

.service_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service_img_block:last-child {
  margin-top: calc( 10px + 50 * ((100vw - 320px) / 2240));
}

.img_items {
  margin-bottom: 30px;
  position: relative;
}

.img_items:last-child {
  margin: 0;
}

.img_items:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.img_items img {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: grayscale(99%);
          filter: grayscale(99%);
}

.img_items a {
  position: relative;
}

.img_items a .items_title {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.img_items a .items_title h3 {
  font-size: 24px;
  color: #ffffff;
}

.img_items a .items_title h3:first-child {
  font-family: "HamiltoneR";
  font-size: 30px;
  color: #cda363;
  margin-left: -20px;
  margin-bottom: -27px;
}

.img_items_first::before {
  content: url(../img/arrow_link.png);
  position: absolute;
  bottom: 67px;
  right: 33px;
  z-index: 2;
  cursor: pointer;
}

.section_img img {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: grayscale(99%);
          filter: grayscale(99%);
}

.section_img img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.section_img a {
  position: relative;
}

.section_img a h3 {
  font-size: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.questions_acordion_block {
  margin-top: 64px;
}

.acordion_item_trigger {
  cursor: pointer;
  font-size: calc( 20px + 4 * ((100vw - 320px) / 2240));
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 967px;
  color: white;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.acordion_item_trigger span {
  color: #CDA363;
  margin-right: calc( 19px + 31 * ((100vw - 320px) / 2240));
}

.acordion_item_trigger::after {
  content: url(../img/arrow_bottom.png);
  position: absolute;
  top: -40px;
  right: -150px;
}

.acordion_item_trigger_active::after {
  content: url(../img/arrow_top.png);
}

.acordion_item_content {
  color: white;
  max-width: 894px;
  margin-top: calc( 20px + 21 * ((100vw - 320px) / 2240));
  margin-left: calc( 20px + 40 * ((100vw - 320px) / 2240));
  font-size: calc( 16px + 2 * ((100vw - 320px) / 2240));
  display: none;
}

.reviews_block {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews_item {
  width: 350px;
  height: 491px;
  background: #cacaca;
}

.footer {
  padding-top: 145px;
  padding-bottom: 67px;
}

.footer_flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_block a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.footer_block a:first-child {
  margin-bottom: 10px;
}

.footer_social {
  margin-top: 30px;
}

.footer_social a {
  margin-right: 15px;
  position: relative;
}

.footer_social a:first-child::before {
  content: url(../img/link1.svg);
}

.footer_social a:first-child:hover::before {
  content: url(../img/link1_hover.svg);
}

.footer_social a:last-child {
  margin: 0;
}

.footer_social a:last-child::before {
  content: url(../img/link2.svg);
}

.footer_social a:last-child:hover::before {
  content: url(../img/link2_hover.svg);
}

.swiper-container {
  display: none;
}

.header_burger {
  display: none;
}

.header_privat {
  height: 40vh;
  background-image: url(../img/privat_bg.png);
}

.header_main_privat {
  padding-top: 50px;
}

.header_main_privat h1:first-child {
  font-size: calc( 45px + 27 * ((100vw - 320px) / 2240));
  margin-bottom: calc( -10px + -40 * ((100vw - 320px) / 2240));
  margin-left: calc( -10px + -61 * ((100vw - 320px) / 2240));
}

.header_main_privat h1:last-child {
  font-size: 36px;
}

.section_title_about h2:first-child {
  font-size: calc( 37.5px + 10.5 * ((100vw - 320px) / 2240));
  margin-left: calc( -5px + -35 * ((100vw - 320px) / 2240));
}

.about_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about_items_img img {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: grayscale(99%);
          filter: grayscale(99%);
}

.about_items:last-child {
  max-width: 540px;
}

.about_items_text {
  margin-bottom: calc( 25px + 20 * ((100vw - 320px) / 2240));
}

.about_items_text:last-child {
  margin: 0;
}

.about_items_text p {
  font-size: calc( 16px + 2 * ((100vw - 320px) / 2240));
  line-height: calc( 30px + 6 * ((100vw - 320px) / 2240));
}

hr {
  margin-top: 50px;
  height: 1px;
  border: 0;
  background-color: #CDA363;
  margin-bottom: 0;
}

hr:last-child {
  margin: 0;
  width: 803px;
  margin: 0 auto;
}

.price_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 48px;
  padding-bottom: 50px;
}

.price_item:first-child {
  margin-right: 108px;
}

.price_item:first-child p {
  font-size: 30px;
}

.price_item:last-child p {
  font-size: 36px;
  color: #CDA363;
  font-family: "PlayR";
  text-transform: uppercase;
}

.section_form {
  padding-top: calc( 100px + 40 * ((100vw - 320px) / 2240));
}

.form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form_items img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_items:first-child {
  width: 100%;
  max-width: 445px;
}

.form_items p {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 50px;
}

form input {
  margin-bottom: 34px;
  font-family: "CirceR";
  padding-right: 15px;
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 14px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cacaca;
  background-color: transparent;
}

form input::-webkit-input-placeholder {
  color: white;
}

form input::-moz-placeholder {
  color: white;
}

form input:-ms-input-placeholder {
  color: white;
}

form input::-ms-input-placeholder {
  color: white;
}

form input::placeholder {
  color: white;
}

form button {
  margin-top: 67px;
  font-family: "CirceR";
  font-size: 24px;
  color: #ffffff;
  width: 100%;
  padding: 18px 0;
  background-color: #CDA363;
  border: none;
}

.form_mail {
  margin: 0;
}

@media (max-width: 1130px) {
  .acordion_item_trigger {
    max-width: 850px;
  }

  .reviews_block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .reviews_item:last-child {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .header {
    height: 50vh;
  }

  .header_mouse {
    display: none;
  }

  .header_main {
    padding-top: 190px;
  }

  .acordion_item_trigger,
  .acordion_item_content {
    max-width: 600px;
  }

  .header_privat {
    height: 30vh;
  }

  .header_main_privat {
    padding-top: 60px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .swiper-container {
    display: block;
  }

  .service_img {
    display: none;
  }

  html.lock {
    overflow: hidden;
  }

  .header {
    height: 100vh;
    background-image: url(../img/main_bg_phone.jpg);
  }

  .header_main {
    margin-left: 20px;
    padding-top: 250px;
  }

  .header_main p {
    display: none;
  }

  .header_burger {
    display: block;
    position: relative;
    z-index: 100;
    width: 26px;
    height: 20px;
  }

  .header_burger::before,
  .header_burger::after {
    content: "";
    position: absolute;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #1b1918;
  }

  .header_burger::before {
    top: 0;
  }

  .header_burger::after {
    bottom: 0;
  }

  .header_burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #1b1918;
    top: 8px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header_burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8.5px;
  }

  .header_burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8.5px;
  }

  .header_burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .container_header {
    padding: 0;
  }

  .navigation_body {
    position: fixed;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    z-index: 2;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(180px);
            backdrop-filter: blur(180px);
  }

  .navigation_menu {
    position: fixed;
    overflow: auto;
    top: 0;
    right: -100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.8);
  }

  .navigation_menu.active {
    right: -40%;
    overflow: auto;
  }

  .navigation_body.active {
    background: none;
    overflow: auto;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }

  .header_list {
    position: absolute;
    display: block;
    top: 80px;
    left: 42px;
  }

  .header_list li {
    margin-bottom: 10px;
    margin-right: 0;
    padding-right: 20px;
  }

  .header_list li a {
    color: #1b1918;
  }

  .header_list li a img {
    display: none;
  }

  .header_list_services {
    margin-left: 10px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    display: block;
    position: relative;
  }

  .header_list_services li {
    word-wrap: break-word;
    max-width: 200px;
  }

  .header_list_services li a {
    word-wrap: break-word;
  }

  .header_link_social {
    position: absolute;
    left: 42px;
    top: 600px;
  }

  .questions_acordion_block {
    margin-top: 40px;
  }

  .acordion_item_trigger::after {
    display: none;
  }

  .swiper-container {
    display: block;
  }

  .service_img {
    display: none;
  }

  .img_items_first::before {
    bottom: 50px;
    right: 0;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }

  .swiper_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-top: 30px;
  }

  .swiper_button_prev,
  .swiper_button_next {
    position: relative;
    z-index: 100;
    width: 27px;
    height: 20px;
  }

  .swiper_button_prev::before,
  .swiper_button_next::before {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 2px;
    top: 0;
    background-color: white;
  }

  .swiper_button_prev::after,
  .swiper_button_next::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .swiper_button_prev::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .swiper_button_prev::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .swiper_button_next::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .swiper_button_next::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .section_service .swiper-pagination {
    position: relative;
    margin-top: 20px;
  }

  .section_service .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 10px;
  }

  .section_service .swiper-pagination-bullet:last-child {
    margin: 0;
  }

  .reviews_item {
    margin-bottom: 30px;
  }

  .reviews_item:last-child {
    margin: 0;
  }

  .footer_block a {
    margin-bottom: 10px;
  }

  .price_item:first-child {
    margin-right: 0px;
  }

  hr:last-child {
    width: 100%;
  }

  .form_items img {
    display: none;
  }

  .swiper-slide img {
    -webkit-filter: grayscale(99%);
            filter: grayscale(99%);
  }
}

@media (max-width: 374px) {
  .header_main {
    margin-left: 0;
  }
}

.webp .header { background-image: url(../img/main_bg.webp); }

.webp .header_privat { background-image: url(../img/privat_bg.webp); }

@media (max-width: 767px) {

  .webp .header { background-image: url(../img/main_bg_phone.webp); }
}